<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-2 h-100">
            <a routerLink=""><img id="logo" [src]="logo" class="img img-fluid mt-3"></a>
            <h5 class="my-4 font-weight-bold"><a href=""><i class="fas fa-home mr-2"></i> Trang chủ</a></h5>
            <h5 class="mb-4 font-weight-bold"><a href="" class="text-dark"><i class="fas fa-photo-video mr-2"></i>
                    Phim</a></h5>
            <h5 class="mb-4 font-weight-bold"><a routerLink="/admin/user" class="text-dark"><i class="fas fa-users mr-2"></i> Người
                    dùng</a></h5>
            <h5 class="mb-4 font-weight-bold"><a href="" class="text-dark"><i class="fas fa-theater-masks mr-2"></i>
                    Rạp</a></h5>

            <h5 class="mb-4 font-weight-bold"><a routerLink="/account/login" class="text-dark" (click)="signOutAdmin()"><i
                        class="fas fa-sign-out-alt mr-2"></i>
                    Đăng xuất</a></h5>
        </div>
        <div class="col-md-10 h-100">
            <div class="h-100 border-left ml-3 pl-3 pt-3">
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>
</div>