<div class="container">
    <div class="row">
        <div class="col-4 mx-auto bg-info p-4">
            <app-chair *ngFor="let ghe of dsGhe" [itemGhe]="ghe" (emitStatus)="datGheParent($event, ghe)"></app-chair>
            
            <p>Số ghế đã đạt: {{soGheDaChon}}</p>
            <p>Số ghế còn lại: {{soGheConLai}}</p>
            <p *ngFor="let gheDuocChon of mangGheDaChon">
                <span>Tên ghế:{{gheDuocChon.tenGhe}} </span>
                <span>Giá: {{gheDuocChon.giaVe}}</span>
            </p>
        </div>
    </div>
</div>